<!-- NAVBAR -->
<div class="bg-[#071426] text-white h-12 flex items-center px-3">

  <!-- LEFT SECTION -->
  <div class="flex items-center gap-3 flex-1">

    <!-- HAMBURGER (MOBILE ONLY) -->
    <button
      class="md:hidden text-xl"
      (click)="toggleSidebar()">
      ☰
    </button>

   
  </div>

  <!-- RIGHT SECTION -->
  <div class="flex items-center gap-4">

    <!-- NOTIFICATION -->
    <button class="hover:text-purple-400 transition">
      <svg xmlns="http://www.w3.org/2000/svg"
           fill="none" viewBox="0 0 24 24"
           stroke-width="1.5" stroke="currentColor"
           class="size-5 md:size-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31
             A8.967 8.967 0 0 1 18 9.75V9
             A6 6 0 0 0 6 9v.75
             a8.967 8.967 0 0 1-2.312 6.022
             c1.733.64 3.56 1.085 5.455 1.31
             m5.714 0a3 3 0 1 1-5.714 0" />
      </svg>
    </button>

    <!-- SETTINGS -->
    <button class="hover:text-purple-400 transition">
      <svg xmlns="http://www.w3.org/2000/svg"
           fill="none" viewBox="0 0 24 24"
           stroke-width="1.5" stroke="currentColor"
           class="size-5 md:size-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593
             c.55 0 1.02.398 1.11.94l.213 1.281
             a1.125 1.125 0 0 0 .645.87l.22.127
             c.325.196.72.257 1.075.124l1.217-.456
             a1.125 1.125 0 0 1 1.37.49l1.296 2.247
             a1.125 1.125 0 0 1-.26 1.431l-1.003.827
             a1.125 1.125 0 0 0-.43.992
             a7.723 7.723 0 0 1 0 .255
             a1.125 1.125 0 0 0 .43.991l1.004.827
             a1.125 1.125 0 0 1 .26 1.43l-1.298 2.247
             a1.125 1.125 0 0 1-1.369.491l-1.217-.456
             a1.125 1.125 0 0 0-1.076.124l-.22.128
             a1.125 1.125 0 0 0-.644.869l-.213 1.281
             a1.125 1.125 0 0 1-1.11.94h-2.594
             a1.125 1.125 0 0 1-1.11-.94l-.213-1.281
             a1.125 1.125 0 0 0-.644-.87l-.22-.127
             a1.125 1.125 0 0 0-1.076-.124l-1.217.456
             a1.125 1.125 0 0 1-1.369-.49l-1.297-2.247
             a1.125 1.125 0 0 1 .26-1.431l1.004-.827
             a1.125 1.125 0 0 0 .43-.992
             a6.932 6.932 0 0 1 0-.255
             a1.125 1.125 0 0 0-.43-.992l-1.004-.827
             a1.125 1.125 0 0 1-.26-1.43l1.297-2.247
             a1.125 1.125 0 0 1 1.37-.491l1.216.456" />
      </svg>
    </button>

    <!-- USER -->
<!-- USER INFO -->
<div class="flex items-center gap-3">

  <!-- Avatar -->
  <div class="w-8 h-8 rounded-full bg-purple-600 flex items-center justify-center font-semibold">
    {{ avatarLetter }}
  </div>

  <!-- Name & Role -->
  <div class="hidden sm:flex flex-col leading-tight">
    <span class="text-sm font-medium text-white">
      {{ userName }}
    </span>
    <!-- <span class="text-xs px-2 py-0.5 rounded bg-purple-700 text-gray-200 w-fit">
      {{ userRole }}
    </span> -->
  </div>

</div>


  </div>

  <button
  (click)="logout()"
  class="px-4 py-1.5  ml-5 rounded-lg bg-red-500 hover:bg-red-600 text-white text-sm">
  Logout
</button>
</div>
